@import url('./reset.css');
@import url('./font/woff/font.css');


body {
    background-color: #222222;
    color: #fff;
    height: 3000px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-company > img{
    width: 50px;
    height: 45px;
}
.menu-wrapper{
    display: flex;
    column-gap: 15px;
}